{% extends "base.html" %}
{% block tittles %} Landing Page - Jahugamina {% endblock %}
{% block contenido %}


<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Landing Page</title>
</head>
<body>

          

<div class="bg-purple-200">
 
      <!-- Hero section -->
      <div class="relative pt-14">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
          <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="py-24 sm:py-32">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Jahugamina</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600">¡Transforma tu aprendizaje en una aventura fascinante! Descubre la diversión educativa interactiva con quizzes desafiantes sobre una amplia variedad de temas</p>

            </div> 
          </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
          <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
      </div>

      <!-- Descripción -->
      <div class="mx-auto mt-32 max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
        <div class="relative overflow-hidden bg-gray-900 px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
          <img class="absolute inset-0 h-full w-full object-cover" src="https://plus.unsplash.com/premium_photo-1663127440719-2cb352f08521?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
          <div class="absolute inset-0 bg-gray-900/90 mix-blend-multiply"></div>
          <div class="absolute -left-80 -top-56 transform-gpu blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-[0.45]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="hidden md:absolute md:bottom-16 md:left-[50rem] md:block md:transform-gpu md:blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-25" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="relative mx-auto max-w-2xl lg:mx-0">
          
            <figure>
              <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
                <p>“¿Estás listo para un desafío? Jahugamina es una plataforma de aprendizaje interactiva que transforma la educación en una experiencia emocionante y entretenida.
                    Nuestro juego está diseñado para niños y adultos por igual, con una serie de quizzes estimulantes sobre una variedad de temas que incluyen matemáticas, historia, geografía, guaraní, ciencias y mucho más. Con Jahugamina, cada quiz es una aventura. Refuerza tus habilidades matemáticas mientras te enfrentas a desafiantes problemas, explora los rincones más recónditos de la historia y la geografía, sumérgete en el rico idioma del guaraní, y descubre el maravilloso mundo de las ciencias. No importa tu nivel o tus intereses, hay algo para todos en nuestro juego.
                    Nuestro juego educativo ofrece una forma interactiva y divertida de aprender y reforzar los conceptos educativos. Al tiempo que mantienes la mente activa, nuestra plataforma mejora la retención y la comprensión del conocimiento de una manera que es tanto atractiva como efectiva.                    
                    Jahugamina está aquí para hacer que el aprendizaje sea accesible y emocionante. ¡Ven y únete a nosotros en esta increíble aventura educativa!"</p>
              </blockquote>
            </figure>
          </div>
        </div>
      </div>

<!-- Temáticas del juego -prueba-->

<div class="flex justify-around mt-8">
    <div class="text-center">
      <img class="object-cover h-20 w-20 rounded-full" src="../static/oviedo.png" alt="Imagen Historia">
      <p class="mt-2 text-sm font-medium text-gray-700">Historia</p>
    </div>
    <div class="text-center">
      <img class="object-cover h-20 w-20 rounded-full" src="../static/hoho.png" alt="Imagen Geografía">
      <p class="mt-2 text-sm font-medium text-gray-700">Geografía</p>
    </div>
    <div class="text-center">
      <img class="object-cover h-20 w-20 rounded-full" src="../static/nair.png" alt="Imagen Matemáticas">
      <p class="mt-2 text-sm font-medium text-gray-700">Matemáticas</p>
    </div>
    <div class="text-center">
      <img class="object-cover h-20 w-20 rounded-full" src="../static/marie.png" alt="Imagen Ciencias">
      <p class="mt-2 text-sm font-medium text-gray-700">Ciencias</p>
    </div>
    <div class="text-center">
      <img class="object-cover h-20 w-20 rounded-full" src="../static/ramon.png" alt="Imagen Guaraní">
      <p class="mt-2 text-sm font-medium text-gray-700">Guaraní</p>
    </div>
  </div>


</div>

    </main>
</div>



</body>
{% endblock %}